.example-full-width {
    width: 100%;
}

.example-card {
    max-width: 350px;
    border-radius: 10px;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}